.yui3-claimpreview {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #e1e1ba;
    border: 1px solid white;
    padding: 5px;
}

.yui3-claimpreview-hidden {
    display: none;
}

.yui3-claimpreview-labels, .yui3-claimpreview-buttons {
    list-style: none;
}

.yui3-claimpreview-accept, .yui3-claimpreview-reject, .yui3-claimpreview-cancel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #99cccc;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px;
}

.yui3-claimpreview-button-disabled {
    display: none;
}
