/* line 6, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus { outline: 0; }

/* line 20, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body { line-height: 1em; color: black; background: #fff; }

/* line 23, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 33, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote { quotes: "" ""; }
/* line 101, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 36, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a { border: none; }

/* line 5, ../../../app/stylesheets/_hand.sass */
.yui-hand { width: 271px; height: 144px; }

/* line 9, ../../../app/stylesheets/_hand.sass */
.yui-hand-bar { background-color: white; border: 1px solid black; line-height: 32px; overflow: hidden; margin-top: -2em; position: relative; }

/* line 17, ../../../app/stylesheets/_hand.sass */
.yui-hand-direction { display: inline; float: left; line-height: 32px; width: 32px; font-size: 18px; }

/* line 23, ../../../app/stylesheets/_hand.sass */
.yui-hand-name { display: inline; float: left; line-height: 32px; font-size: 18px; }

/* line 28, ../../../app/stylesheets/_hand.sass */
.yui-hand-buttons { display: inline; float: right; line-height: 32px; }

/* line 33, ../../../app/stylesheets/_hand.sass */
.yui-hand-join { border: none; background: none; height: 24px; margin: 0; border: none; cursor: pointer; }

/* line 41, ../../../app/stylesheets/_hand.sass */
.yui-hand-quit { height: 24px; background: none; margin: 0; border: none; cursor: pointer; }

/* line 48, ../../../app/stylesheets/_hand.sass */
.yui-hand-button-disabled { display: none; }

/* line 51, ../../../app/stylesheets/_hand.sass */
.yui-hand-cards { padding-left: 57px; }

/* line 54, ../../../app/stylesheets/_hand.sass */
.yui-hand-card { border: 0; height: 96px; width: 71px; margin-left: -57px; text-indent: -9999em; overflow: hidden; background-image: url('/images/cards/ours.png?1269290109'); background-repeat: no-repeat; background-position: 0 0; }

/* line 61, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-sa { background-image: url('/images/cards/sa.png?1269290110'); }

/* line 64, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-sk { background-image: url('/images/cards/sk.png?1269290110'); }

/* line 67, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-sq { background-image: url('/images/cards/sq.png?1269290110'); }

/* line 70, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-sj { background-image: url('/images/cards/sj.png?1269290110'); }

/* line 73, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-st { background-image: url('/images/cards/st.png?1269290110'); }

/* line 76, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s9 { background-image: url('/images/cards/s9.png?1269290109'); }

/* line 79, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s8 { background-image: url('/images/cards/s8.png?1269290109'); }

/* line 82, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s7 { background-image: url('/images/cards/s7.png?1269290109'); }

/* line 85, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s6 { background-image: url('/images/cards/s6.png?1269290109'); }

/* line 88, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s5 { background-image: url('/images/cards/s5.png?1269290109'); }

/* line 91, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s4 { background-image: url('/images/cards/s4.png?1269290109'); }

/* line 94, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s3 { background-image: url('/images/cards/s3.png?1269290109'); }

/* line 97, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-s2 { background-image: url('/images/cards/s2.png?1269290109'); }

/* line 100, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-ha { background-image: url('/images/cards/ha.png?1269290109'); }

/* line 103, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-hk { background-image: url('/images/cards/hk.png?1269290109'); }

/* line 106, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-hq { background-image: url('/images/cards/hq.png?1269290109'); }

/* line 109, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-hj { background-image: url('/images/cards/hj.png?1269290109'); }

/* line 112, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-ht { background-image: url('/images/cards/ht.png?1269290109'); }

/* line 115, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h9 { background-image: url('/images/cards/h9.png?1269290109'); }

/* line 118, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h8 { background-image: url('/images/cards/h8.png?1269290109'); }

/* line 121, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h7 { background-image: url('/images/cards/h7.png?1269290109'); }

/* line 124, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h6 { background-image: url('/images/cards/h6.png?1269290109'); }

/* line 127, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h5 { background-image: url('/images/cards/h5.png?1269290109'); }

/* line 130, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h4 { background-image: url('/images/cards/h4.png?1269290109'); }

/* line 133, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h3 { background-image: url('/images/cards/h3.png?1269290109'); }

/* line 136, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-h2 { background-image: url('/images/cards/h2.png?1269290109'); }

/* line 139, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-da { background-image: url('/images/cards/da.png?1269290109'); }

/* line 142, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-dk { background-image: url('/images/cards/dk.png?1269290109'); }

/* line 145, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-dq { background-image: url('/images/cards/dq.png?1269290109'); }

/* line 148, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-dj { background-image: url('/images/cards/dj.png?1269290109'); }

/* line 151, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-dt { background-image: url('/images/cards/dt.png?1269290109'); }

/* line 154, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d9 { background-image: url('/images/cards/d9.png?1269290109'); }

/* line 157, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d8 { background-image: url('/images/cards/d8.png?1269290109'); }

/* line 160, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d7 { background-image: url('/images/cards/d7.png?1269290109'); }

/* line 163, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d6 { background-image: url('/images/cards/d6.png?1269290109'); }

/* line 166, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d5 { background-image: url('/images/cards/d5.png?1269290109'); }

/* line 169, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d4 { background-image: url('/images/cards/d4.png?1269290109'); }

/* line 172, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d3 { background-image: url('/images/cards/d3.png?1269290109'); }

/* line 175, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-d2 { background-image: url('/images/cards/d2.png?1269290109'); }

/* line 178, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-ca { background-image: url('/images/cards/ca.png?1269290109'); }

/* line 181, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-ck { background-image: url('/images/cards/ck.png?1269290109'); }

/* line 184, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-cq { background-image: url('/images/cards/cq.png?1269290109'); }

/* line 187, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-cj { background-image: url('/images/cards/cj.png?1269290109'); }

/* line 190, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-ct { background-image: url('/images/cards/ct.png?1269290109'); }

/* line 193, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c9 { background-image: url('/images/cards/c9.png?1269290109'); }

/* line 196, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c8 { background-image: url('/images/cards/c8.png?1269290109'); }

/* line 199, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c7 { background-image: url('/images/cards/c7.png?1269290109'); }

/* line 202, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c6 { background-image: url('/images/cards/c6.png?1269290109'); }

/* line 205, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c5 { background-image: url('/images/cards/c5.png?1269290109'); }

/* line 208, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c4 { background-image: url('/images/cards/c4.png?1269290109'); }

/* line 211, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c3 { background-image: url('/images/cards/c3.png?1269290109'); }

/* line 214, ../../../app/stylesheets/_hand.sass */
.yui-hand-card-c2 { background-image: url('/images/cards/c2.png?1269290109'); }

/* line 1, ../../../app/stylesheets/_biddingbox.sass */
.yui-biddingbox-disabled { display: none; }

/* line 3, ../../../app/stylesheets/_auction.sass */
.yui-auction { width: 420px; }

/* line 6, ../../../app/stylesheets/_auction.sass */
.yui-auction-headers { list-style-type: none; margin: 0px; padding: 0px; display: inline; }
/* line 8, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_inline_list.sass */
.yui-auction-headers li { margin: 0px; padding: 0px; display: inline; }

/* line 9, ../../../app/stylesheets/_auction.sass */
.yui-auction-header { display: inline; float: left; background-color: lightgray; font-size: 18px; width: 100px; }

/* line 15, ../../../app/stylesheets/_auction.sass */
.yui-auction-bids { list-style-type: none; margin: 0px; padding: 0px; display: inline; display: inline; float: left; display: block; overflow-y: scroll; height: 60px; width: 420px; }
/* line 8, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_inline_list.sass */
.yui-auction-bids li { margin: 0px; padding: 0px; display: inline; }

/* line 23, ../../../app/stylesheets/_auction.sass */
.yui-auction-bid { display: inline; float: left; width: 100px; height: 30px; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

/* line 53, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
/* line 58, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 img { margin: 0; }

/* line 60, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

/* line 64, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

/* line 69, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

/* line 74, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

/* line 79, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

/* line 83, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

/* line 85, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p { margin: 0 0 1.5em; }
/* line 87, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
/* line 91, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

/* line 95, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a { text-decoration: underline; color: #000099; }
/* line 12, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:visited { color: #000066; }
/* line 15, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:focus { color: black; }
/* line 18, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover { color: black; }
/* line 21, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:active { color: #cc0099; }

/* line 98, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote { margin: 1.5em; color: #666; font-style: italic; }

/* line 102, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong { font-weight: bold; }

/* line 104, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em { font-style: italic; }

/* line 106, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn { font-style: italic; font-weight: bold; }

/* line 109, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub { line-height: 0; }

/* line 111, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym { border-bottom: 1px dotted #666; }

/* line 113, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address { margin: 0 0 1.5em; font-style: italic; }

/* line 116, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del { color: #666; }

/* line 118, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre { margin: 1.5em 0; white-space: pre; }

/* line 121, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* line 123, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol { margin: 0 1.5em; }

/* line 125, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

/* line 128, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

/* line 131, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl { margin: 0 0 1.5em 0; }
/* line 133, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl dt { font-weight: bold; }

/* line 135, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd { margin-left: 1.5em; }

/* line 137, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table { margin-bottom: 1.4em; width: 100%; }

/* line 140, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th { font-weight: bold; }

/* line 142, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th { background: #c3d9ff; }

/* line 144, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption { padding: 4px 10px 4px 5px; }

/* line 146, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td { background: #e5ecf9; }

/* line 148, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot { font-style: italic; }

/* line 150, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption { background: #eee; }

/* line 152, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet { color: #666666; }

/* line 154, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud { color: #111111; }

/* line 7, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
.showgrid { background: url('/images/grid.png'); }

/* line 9, ../../../app/stylesheets/screen.sass */
#container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#container { display: block; }
