.yui3-auction-hidden {
    display: none;
}

.yui3-auction {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: auto;
    height: 150px;
    width: 300px;
    background: #99cccc;
    border: 1px solid white;
    font-size: 167%;
}

.yui3-auction-headers {
    margin: 0;
    padding: 0;
}

.yui3-auction-headers li {
    background-color: white;
    color: black;
    list-style: none;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70px;
    float: left;
}

.yui3-auction-headers :last-child {
    padding-right: 20px;
}

.yui3-auction-bids {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 120px;
    width: 100%;
    float: left;
}

.yui3-auction-bids .yui3-auctionbid {
    text-align: center;
    list-style: none;
    width: 70px;
    height: 30px;
    float: left;
}

.yui3-auction-bids .yui3-auctionbid-n {
    margin-left: 0;
    margin-right: -300px;
    clear: left;
}

.yui3-auction-bids .yui3-auctionbid-e {
    margin-left: 70px;
    margin-right: -300px;
}

.yui3-auction-bids .yui3-auctionbid-s {
    margin-left: 140px;
    margin-right: -300px;
}

.yui3-auction-bids .yui3-auctionbid-w {
    margin-left: 210px;
    margin-right: -300px;
}


.yui3-auction-bids .yui3-auctionbid-suit-h,
.yui3-auction-bids .yui3-auctionbid-suit-d {
    color: #cb0000;
}

.yui3-auction-bids .yui3-auctionbid-suit-c,
.yui3-auction-bids .yui3-auctionbid-suit-s {
    color: #000000;
}

.yui3-auction-vulnerable {
    background: #cb0000;
}
