$auction_bid_width: 70px
$auction_bid_height: 30px
$auction_scroll_width: 20px

.yui3-auction
  +border-radius
  margin: auto
  height: 5 * $auction_bid_height
  width: 4 * $auction_bid_width + $auction_scroll_width
  background: $light_blue_color
  border: 1px solid white

.yui3-auction-hidden
  display: none

.yui3-auction-headers
  +reset-box-model
  +no-bullets

.yui3-auction-header
  +float-left
  text-align: center
  font-size: 18px
  border-right: 1px solid black
  width: $auction_bid_width - 1px
  height: $auction_bid_height
  line-height: $auction_bid_height
  background-color: white
  color: black

.yui3-auction-header-vulnerable
  background-color: $red_color
  color: white

.yui3-auction-headers li:first-child
  +border-top-left-radius

.yui3-auction-headers li:last-child
  +border-top-right-radius
  width: $auction_bid_width
  padding-right: $auction_scroll_width
  border: none

.yui3-auction-bids
  +inline-list
  +no-bullets
  +float-left
  overflow-y: scroll
  height: 4 * $auction_bid_height
  width: 4 * $auction_bid_width + $auction_scroll_width

.yui3-auction-bids > *
  +float-left
  width: $auction_bid_width
  height: $auction_bid_height

.yui3-auction-bid
  +reset-box-model
  +reset-font
  +float-left
  width: $auction_bid_width
  height: $auction_bid_height
  border: none
  background: none
  font-size: 18px

.yui3-auction-bid-alerted
  +border-radius
  background-color: $yellow_color

.yui3-auction-clear
  +clearfix
