.yui-auction
  width= 300px
  margin: auto

.yui-auction-headers
  +inline-list

.yui-auction-header
  +float-left
  background-color: lightgray
  font-size: 18px
  width= 75px

.yui-auction-bids
  +inline-list
  +float-left
  display: block
  overflow-y: scroll
  height: 60px
  width: 300px

.yui-auction-bid
  +float-left
  width= 175px
  height= 30px
