.yui3-biddingbox-disabled
  display: none

.yui3-biddingbox-modifiers, .yui3-biddingbox-levels, .yui3-biddingbox-suits
  +inline-list
  +no-bullets
  display: block

.yui3-biddingbox-button-disabled
  display: none

.yui3-biddingbox-modifier, .yui3-biddingbox-level, .yui3-biddingbox-suit
  border: none

.yui3-biddingbox-modifier-pass
  background: lightgreen

.yui3-biddingbox-modifier-x
  background: lightred

.yui3-biddingbox-modifier-xx
  background: lightred

.yui3-biddingbox-level, .yui3-biddingbox-suit
  background: lightblue

.yui3-biddingbox-level-selected
  background: yellow
