.yui-biddingbox-disabled
  display: none

.yui-biddingbox-modifiers, .yui-biddingbox-levels, .yui-biddingbox-suits
  +inline-list
  +no-bullets
  display: block

.yui-biddingbox-button-disabled
  display: none

.yui-biddingbox-modifier, .yui-biddingbox-level, .yui-biddingbox-suit
  border: none

.yui-biddingbox-modifier-pass
  background: lightgreen

.yui-biddingbox-modifier-x
  background: lightred

.yui-biddingbox-modifier-xx
  background: lightred

.yui-biddingbox-level, .yui-biddingbox-suit
  background: lightblue

.yui-biddingbox-level-selected
  background: yellow
