$card_height: 96px
$card_width: 71px
$card_overlap: 57px

.yui3-bridge-card
  +reset-box-model
  border: none
  height: $card_height
  width: $card_width
  +replace-text(unquote("cards/ours.png"), 0, 0)

.yui3-bridge-card-s
  background-image: image_url(unquote("cards/spades.png"))
  background-repeat: no-repeat

.yui3-bridge-card-sa
  background-position: -864px 0px

.yui3-bridge-card-sk
  background-position: -792px 0px

.yui3-bridge-card-sq
  background-position: -720px 0px

.yui3-bridge-card-sj
  background-position: -648px 0px

.yui3-bridge-card-st
  background-position: -576px 0px

.yui3-bridge-card-s9
  background-position: -504px 0px

.yui3-bridge-card-s8
  background-position: -432px 0px

.yui3-bridge-card-s7
  background-position: -360px 0px

.yui3-bridge-card-s6
  background-position: -288px 0px

.yui3-bridge-card-s5
  background-position: -216px 0px

.yui3-bridge-card-s4
  background-position: -144px 0px

.yui3-bridge-card-s3
  background-position: -72px 0px

.yui3-bridge-card-s2
  background-position: 0px 0px

.yui3-bridge-card-h
  background-image: image_url(unquote("cards/hearts.png"))
  background-repeat: no-repeat

.yui3-bridge-card-ha
  background-position: -864px 0px

.yui3-bridge-card-hk
  background-position: -792px 0px

.yui3-bridge-card-hq
  background-position: -720px 0px

.yui3-bridge-card-hj
  background-position: -648px 0px

.yui3-bridge-card-ht
  background-position: -576px 0px

.yui3-bridge-card-h9
  background-position: -504px 0px

.yui3-bridge-card-h8
  background-position: -432px 0px

.yui3-bridge-card-h7
  background-position: -360px 0px

.yui3-bridge-card-h6
  background-position: -288px 0px

.yui3-bridge-card-h5
  background-position: -216px 0px

.yui3-bridge-card-h4
  background-position: -144px 0px

.yui3-bridge-card-h3
  background-position: -72px 0px

.yui3-bridge-card-h2
  background-position: 0px 0px

.yui3-bridge-card-d
  background-image: image_url(unquote("cards/diamonds.png"))
  background-repeat: no-repeat

.yui3-bridge-card-da
  background-position: -864px 0px

.yui3-bridge-card-dk
  background-position: -792px 0px

.yui3-bridge-card-dq
  background-position: -720px 0px

.yui3-bridge-card-dj
  background-position: -648px 0px

.yui3-bridge-card-dt
  background-position: -576px 0px

.yui3-bridge-card-d9
  background-position: -504px 0px

.yui3-bridge-card-d8
  background-position: -432px 0px

.yui3-bridge-card-d7
  background-position: -360px 0px

.yui3-bridge-card-d6
  background-position: -288px 0px

.yui3-bridge-card-d5
  background-position: -216px 0px

.yui3-bridge-card-d4
  background-position: -144px 0px

.yui3-bridge-card-d3
  background-position: -72px 0px

.yui3-bridge-card-d2
  background-position: 0px 0px

.yui3-bridge-card-c
  background-image: image_url(unquote("cards/clubs.png"))
  background-repeat: no-repeat

.yui3-bridge-card-ca
  background-position: -864px 0px

.yui3-bridge-card-ck
  background-position: -792px 0px

.yui3-bridge-card-cq
  background-position: -720px 0px

.yui3-bridge-card-cj
  background-position: -648px 0px

.yui3-bridge-card-ct
  background-position: -576px 0px

.yui3-bridge-card-c9
  background-position: -504px 0px

.yui3-bridge-card-c8
  background-position: -432px 0px

.yui3-bridge-card-c7
  background-position: -360px 0px

.yui3-bridge-card-c6
  background-position: -288px 0px

.yui3-bridge-card-c5
  background-position: -216px 0px

.yui3-bridge-card-c4
  background-position: -144px 0px

.yui3-bridge-card-c3
  background-position: -72px 0px

.yui3-bridge-card-c2
  background-position: 0px 0px