!card_height  = 96px
!card_width   = 71px
!card_overlap = 57px

.yui3-hand-hidden
  display: none

.yui3-hand-content
  overflow: hidden
  text-align: center

.yui3-hand-bar
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  background-color= !gray_color
  border: 1px solid white
  overflow: hidden

.yui3-hand-bar-active
  background-color= !yellow_color

.yui3-hand-direction
  +float-left
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border: 1px solid white
  background-color= !blue_color
  color: white
  line-height= !card_height / 3
  width= !card_height / 3
  font-size: 18px
  margin: -1px

.yui3-hand-name
  +float-left
  line-height= !card_height / 3
  height= !card_height / 3
  overflow: hidden
  font-size: 18px
  padding: 0 5px
  color: black

.yui3-hand-buttons
  +float-right
  line-height= !card_height / 3

.yui3-hand-join, .yui3-hand-quit
  +reset-box-model
  +reset-font
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border: 1px solid white
  background= !blue_color
  margin: 5px
  color: white
  cursor: pointer

.yui3-hand-quit.yui3-hand-button-disabled, .yui3-hand-join.yui3-hand-button-disabled
  display: none

.yui3-hand-cards
  +no-bullets
  +inline-list
  display: block
  overflow: hidden
  height= !card_height * 0.75

.yui3-hand-card > *
  margin-right= -!card_overlap / 2
  margin-left= -!card_overlap / 2
