table.board-history
  width: 50%

  th, td
    padding: 0
  td
    width: 33%
  td.directions
    text-align: center
  td.direction-n, td.direction-s
    padding: 0 33%

  .cards
    font-weight: bold

table.auction-history
  width: 25%
