.yui3-info-col-1, .yui3-info-col-2, .yui3-info-col-3 {
    padding: 0;
}

.yui3-info-hidden {
    display: none;
}

.yui3-info-content {
    margin: auto;
    width: 130px;
    font: 167% sans;
    color: black;
}

.yui3-info-direction-1, .yui3-info-direction-2, .yui3-info-direction-3, .yui3-info-direction-4 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 1px;
}

.yui3-info-direction-1, .yui3-info-direction-3 {
    background: white;
    width: 80px;
    height: 25px;
    line-height: 25px;
}

.yui3-info-direction-2, .yui3-info-direction-4 {
    padding: 0;
    background: white;
    width: 25px;
    height: 60px;
    line-height: 60px;
}

.yui3-info-info {
    margin: 1px;
    border: 1px solid white;
    text-align: center;
    background: #99cccc;
    width: 78px;
    height: 58px;
    line-height: 58px;
}

.yui3-info-vulnerable {
    color: white;
    background: #cb0000;
}
