.yui3-chat-messages {
    padding: 0;
    margin: 0;
    height: 100px;
    overflow-y: scroll;
    background: #e0ffe0;
}

.yui3-chat-messages-name {
    padding: 0;
    margin: 0;
    float: left;
    clear: both;
}

.yui3-chat-messages-body {
    padding: 0;
    margin: 0 0 0 5px;
    float: left;
}

.yui3-chat-form-submit {
    display: none;
}
