%table.directions
  %tbody
    %tr
      %td(colspan=2){:class => direction_classes(board, "N")} N
    %tr
      %td{:class => direction_classes(board, "W")} W
      %td{:class => direction_classes(board, "E")} E
    %tr
      %td(colspan=2){:class => direction_classes(board, "S")} S
