.yui3-tricks-hidden {
    display: none;
}

.yui3-tricks-bar {
    background: #99cccc;
    color: black;
    font-size: 167%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.yui3-tricks-contract {
    margin: 0 5px;
    float: left;
}

.yui3-tricks-declarer {
    margin: 0 5px;
    float: left;
}

.yui3-tricks-result-ns {
    margin: 0 5px;
    float: right;
}

.yui3-tricks-result-ew {
    margin: 0 5px;
    float: right;
}

.yui3-tricks-tricks {
    margin: 0 0 0 -52px;
    text-align: center;
    height: 90px;
    overflow: hidden;
}

.yui3-tricks-trick {
    list-style: none;
    display: inline-block;
}

.yui3-tricks-trick-won {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 86px;
    height: 125px;
    background: white;
    position: relative;
    margin: 0 -36px;
}

.yui3-tricks-trick-lost {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    height: 86px;
    width: 125px;
    background: white;
    position: relative;
    margin: 0 -74px 0 -36px;
}

.yui3-tricks-trick-cover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background: #336799;
    margin: 5px;
}

.yui3-tricks-trick-won .yui3-tricks-trick-cover {
    width: 74px;
    height: 113px;
}

.yui3-tricks-trick-lost .yui3-tricks-trick-cover {
    height: 74px;
    width: 113px;
}
