.yui3-hand-hidden {
    display: none;
}

.yui3-hand-content {
    text-align: center;
}

.yui3-hand .yui3-card {
    list-style: none;
    display: inline-block;
    margin: 0 -36px;
}

.yui3-hand .yui3-cardlist-cards {
    margin: 0;
    padding: 0;
    height: 90px;
    overflow: hidden;
}
